<article class="white w-100">
  <!-- <p class="mt0 mb2 lh-title">This sign up form is going to get so many email addresses. We're going to be swimming in addys, baby. LET'S GET IT.</p> -->
  <form action="sign-up_submit" method="get" accept-charset="utf-8">
    <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
      <legend class="ph0 mh0 clip">Sign Up</legend>
        <input placeholder="Join our mailing list" class="tc pa2 input-reset outline-0 bb-2 bt-0 bl-0 br-0 b--white bg-transparent w-100 white mb2" type="email" name="email-address"  id="email-address">
    </fieldset>
    <input class="w-100 ph3 pv2 input-reset bn bg-white black pointer f5" type="submit" value="Subscribe">
  </form>
</article>
