// Import Tachyons from node_modules: https://github.com/tachyons-css/tachyons-sass
@import './node_modules/tachyons-sass/tachyons.scss';

// Add your own CSS rules here
.system { font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif; }

// We can extend Tachyons styles in new classes like so
.card {
  @extend .system, .f2, .green, .ma4;
}

// Full Tachyons documentation: http://tachyons.io/docs/
// Quick reference & class generation tools: https://tachyons-tldr.now.sh

::-webkit-scrollbar {
 display: none;
}

.endless-red { color: #FC463D; }
.bg-endless-red { background-color: #FC463D; }
.b--endless-red { border-color: #FC463D; }

.hover-endless-red:hover,
.hover-endless-red:focus { color: #FC463D; }

.hover-bg-endless-red:hover,
.hover-bg-endless-red:focus { background-color: #FC463D; }

.darkest-gray { color: #1D1C1C; }
.bg-darkest-gray { background-color: #1D1C1C; }
.b--darkest-gray { border-color: #1D1C1C; }

.hover-darkest-gray:hover,
.hover-darkest-gray:focus { color: #1D1C1C; }

.hover-bg-darkest-gray:hover,
.hover-bg-darkest-gray:focus { background-color: #1D1C1C; }

.black-gradient {
  background-image: linear-gradient(to botom, transparent, #1D1C1C);
}


@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.tracked-med {
  letter-spacing: .05em;
}

.neue-haas-unica {
  font-family: neue-haas-unica, sans-serif;
}

.balboa {
  font-family: balboa, sans-serif;
  font-weight: 900;
}

.spin {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 40000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 40000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 40000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-transition: rotate(3600deg);
}

.multiply {
  mix-blend-mode: multiply;
}

.endless-blue { color: #5FA2FF; }
.bg-endless-blue { background-color: #5FA2FF; }
.b--endless-blue { border-color: #5FA2FF; }

.hover-endless-blue:hover,
.hover-endless-blue:focus { color: #5FA2FF; }

.hover-bg-endless-blue:hover,
.hover-bg-endless-blue:focus { background-color: #5FA2FF; }

.endless-white { color: #F7F7F5; }
.bg-endless-white { background-color: #F7F7F5; }
.b--endless-white { border-color: #F7F7F5; }

.hover-endless-white:hover,
.hover-endless-white:focus { color: #F7F7F5; }

.hover-bg-endless-white:hover,
.hover-bg-endless-white:focus { background-color: #F7F7F5; }

.endless-purple { color: #6D5EFD; }
.bg-endless-purple { background-color: #6D5EFD; }
.b--endless-purple { border-color: #6D5EFD; }

.hover-endless-purple:hover,
.hover-endless-purple:focus { color: #6D5EFD; }

.hover-bg-endless-purple:hover,
.hover-bg-endless-purple:focus { background-color: #6D5EFD; }

.endless-black { color: #202124; }
.bg-endless-black { background-color: #202124; }
.b--endless-black { border-color: #202124; }

.hover-endless-black:hover,
.hover-endless-black:focus { color: #202124; }

.hover-bg-endless-black:hover,
.hover-bg-endless-black:focus { background-color: #202124; }

.endless-pink { color: #FFC4E7; }
.bg-endless-pink { background-color: #FFC4E7; }
.b--endless-pink { border-color: #FFC4E7; }

.hover-endless-pink:hover,
.hover-endless-pink:focus { color: #FFC4E7; }

.hover-bg-endless-pink:hover,
.hover-bg-endless-pink:focus { background-color: #FFC4E7; }

.endless-yellow { color: #FFEC8F; }
.bg-endless-yellow { background-color: #FFEC8F; }
.b--endless-yellow { border-color: #FFEC8F; }

.hover-endless-yellow:hover,
.hover-endless-yellow:focus { color: #FFEC8F; }

.hover-bg-endless-yellow:hover,
.hover-bg-endless-yellow:focus { background-color: #FFEC8F; }



::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
}

::placeholder {
  color: white;
  opacity: 70%;
}

.study {
  font-family: study, serif;
  font-weight: 400;
}

.two-column {
  column-count: 2;
  column-gap: 40px;
}
